<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.occamsrazor.web.mappers.StadiumMapper">
    <select id="selectAll" resultType="com.occamsrazor.web.domains.StadiumDTO">
        select
            stadium_id stadiumId,
            stadium_name stadiumName,
            hometeam_id hometeamId,
            seat_count seatCount,
            address,
            ddd,
            tel
        from stadium
    </select>
</mapper>